@mixin center-v () {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;
}

.body {
    overflow: auto;
}

* {
    box-sizing: border-box;
}

.item {
    width: 200px;
    margin: 50px auto;
    max-height: 250px;
    padding: 75px 20px;
    background: rebeccapurple;
    text-align: center;
    color: whitesmoke;
    font-size: 3em;

   